body{
    overflow-x: hidden;
    background-color: azure;
}

.banner{
    width: 100%;
    background-image: url("./../image/gambar.jpg");
    height: 25vh;
    background-size: cover;
}

.meja{
    display: inline-block;
    
    background-size: cover;
    width: 90px;
    height: 90px;
}

.aktif{
    background-image: url('../image/meja.png');
    border: 1px solid;
}

.kosong{
    background-image: url('../image/meja-kosong.PNG');
}

.reservasi{
    background-image: url('../image/meja-reservasi.PNG');
}

.meja .id{
    position: relative;
    top: 50px;
    left: 45px;
    color: black;
    font-size: 25px;
}

.inputWaktu{
    display: inline;
    width: 90px;
}

td{
    padding: 0 70px;
}

.none{
    display: none;
}

/* ================= Posisi ======================== */

.containerDenah{
    width: 90%;
    margin: auto;
    height: 700px;
    border: 1px dashed;
    display: grid;
    grid-template-areas: 
    "atas atas atas atas"
    "kiri tengah tengah  kanan"
    "kiri tengah tengah  kanan"
    "bawah bawah bawah bawah ";
}


.tengah{
    display: flex;
    justify-content:space-around;
}

.kotak{
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: yellow;
    border:1px solid;
}

.atas{
  grid-area: atas;
  display: flex;
  justify-content: space-around;
}

.kiri{
    grid-area: kiri;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.kanan{
    grid-area:kanan;
    display: flex;      
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
}

.bawah{
  grid-area: bawah;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}